<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuário</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="logo-container">
    <img 
      src="../../../assets/logo.png" 
      alt="Logo Senac" 
      class="logo-senac"
      width="300px"
    />
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text" [(ngModel)]="login"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="salvar()">Salvar</ion-button>
</ion-content>
