<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>resultado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">resultado</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="create-outline"></ion-icon>
        Criar
      </ion-tab-button>
      <ion-tab-button tab="pendente" routerLink="/pendente">
        <ion-icon name="layers-outline"></ion-icon>
        Pendentes
      </ion-tab-button>
      <ion-tab-button tab="resultado" routerLink="/resultado">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        Resultado
      </ion-tab-button>
      <ion-tab-button tab="nota" routerLink="/nota">
      <ion-icon name="document-text-outline"></ion-icon>
        Notas
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
