<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Em Analise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pendente</ion-title>
    </ion-toolbar>
  </ion-header>








  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="play-circle"></ion-icon>
        Criar
      </ion-tab-button>
      <ion-tab-button tab="pendente" routerLink="/pendente">
        <ion-icon name="radio"></ion-icon>
        Pendentes
      </ion-tab-button>
      <ion-tab-button tab="resultado" routerLink="/resultado">
        <ion-icon name="library"></ion-icon>
        Resultado
      </ion-tab-button>
      <ion-tab-button tab="nota" routerLink="/nota">
        <ion-icon name="search"></ion-icon>
        Notas
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
