/* src/app/index/index.component.scss */



  ion-header {
    ion-toolbar {
      --background: #2c3e50; /* Cor de fundo do cabeçalho */
      --color: #ecf0f1; /* Cor do texto do cabeçalho */
    }
  }

  ion-content {
    --background: #ecf0f1; /* Cor de fundo do conteúdo */
    display: center;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-self: center;
    
  }

  .container {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    height: 10%;
    width: 10%;
  }

  ion-button {
    margin: 10px 0;
    border-radius: 10px; /* Borda arredondada nos botões */
    font-weight: bold;
    width: 100%; /* Define a largura dos botões, ajuste conforme necessário */
    height: 100%;
  }


  



