<ion-header>
  <ion-toolbar>
    <ion-title>
      Nota Master
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-button expand="full" routerLink="/cadastrar-nfse">Criar Nota Fiscal</ion-button>
    <ion-button expand="full" (click)="imprimirNotaFiscal()">Imprimir Nota Fiscal</ion-button>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="play-circle"></ion-icon>
        Criar
      </ion-tab-button>
      <ion-tab-button tab="pendente" routerLink="/pendente">
        <ion-icon name="radio"></ion-icon>
        Pendentes
      </ion-tab-button>
      <ion-tab-button tab="resultado" routerLink="/resultado">
        <ion-icon name="library"></ion-icon>
        Resultado
      </ion-tab-button>
      <ion-tab-button tab="nota" routerLink="/nota">
        <ion-icon name="search"></ion-icon>
        Notas
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>


